# Django e dependências principais
Django==6.0.5
asgiref==3.11.1
sqlparse==0.5.5

# Banco de dados
psycopg2-binary==2.9.12
dj-database-url==3.1.2

# Interface administrativa
django-jazzmin==3.0.4

# Formulários
django-crispy-forms==2.6
crispy-bootstrap5==2026.3
django-widget-tweaks==1.5.1

# Utilitários
python-dotenv==1.2.2
gunicorn==26.0.0
